.app-main-container .custom-navbar-container{
    padding-inline: 15rem;
    background: #2b2d3073;;

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(6.7px);
height: 8vh;
font-size: 1vw;
color: var(--primary-color-dark)
}

.custom-navbar-container .navbar-brand{
    font-family: 'Questrial', sans-serif;;
    font-size: calc(18pt + 1rem);
    color: var(--text-white);
    transition: 0.3s ease;
}

.custom-navbar-container .navbar-brand:hover{
    color: var(--text-colored);
}

.app-main-container .custom-navbar-container .nav-options{
    display: flex;
    gap: 7rem;
}

.app-main-container .custom-navbar-container .nav-options *{
    font-family: "Questrial", sans-serif;
    color: var(--text-white);
    font-size: calc(12pt + 0.5rem);

}

.custom-navbar-container .nav-options *:hover{
    color: var(--text-colored);
}



/* media queries */
@media only screen and (max-width: 991px) {
    .app-main-container > .custom-navbar-container{
        padding-block: 0;
        padding-inline: 2rem;
    }   
}