@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  text-align: center;
}

:root{
  --primary-color-dark: #1E2328;
  --primary-color-mid: #2A2E34;
  --primary-color-light: #3B3F46;
  --secondary-color-mid: #F5B301;
  --secondary-color-light: #FED053;
  --secondary-color-dark: #d9b100;
  --text-white: rgb(224, 224, 224);
  --text-colored: #FED053;
}


.container , .container-fluid{
  padding: 0 !important;
}

.app-main-container>.row, .app-main-container>.row>.col{
  padding: 0;
  margin: 0;
}
h1, h2,h3,h4,h5,h6,p{
  font-family: 'Questrial', sans-serif;
}