@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  text-align: center;
  background-color: #fff8e6b5;
}

:root{
  --primary-color-dark: #1E2328;
  --primary-color-mid: #2A2E34;
  --primary-color-light: #3B3F46;
  --secondary-color-mid: #F5B301;
  --secondary-color-light: #FED053;
  --secondary-color-dark: #d9b100;
  --text-white: rgb(224, 224, 224);
  --text-dark: rgb(61, 61, 61);
  --text-light-dark: rgb(95, 95, 95);
  --text-colored: #FED053;
}


.container , .container-fluid{
  padding: 0 !important;
}
.row{
  margin: 0 !important;
}

.app-main-container>.row, .app-main-container>.row>.col{
  padding: 0;
  margin: 0;
}
h1, h2,h3,h4,h5,h6,p{
  font-family: 'Questrial', sans-serif;
}

* h1{
  font-size: calc(2vw + 2.5rem);
}
* h2{
  font-size: calc(1.75vw + 1.75rem);
}
* h3{
  font-size: calc(1.25vw + 1.5rem);
}
* p{
  font-size: calc(0.50vw + 0.75rem );
}
